<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>

<h2>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</h2>


 <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="fa fa-github"></i></a>
		  

 <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fa fa-github"></i
      ></a>






<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>